<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/login" method="post">
      <div>
        <label for="email"></label>
        <input id="email" name="email" type="text" required />
      </div>
      <div>
        <label for="password"></label>
        <input id="password" name="password" type="password" required />
      </div>
      <button type="submit">sign in</button>
    </form>
    <br />
    <a href="/auth/google"> Sign in with Google </a>
  </body>
</html>
